@import "tailwindcss";

/* Dark/light theme colors */
:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-roboto: 'RobotoItalic', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  margin: 0;
  padding: 0;
}

/* 👇 Font Face: public se load kar rahe ho */
@font-face {
  font-family: 'RobotoItalic';
  src: url('/fonts/Roboto-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

/* 👇 Tailwind custom class */
.font-roboto {
  font-family: 'RobotoItalic', sans-serif;
}